.add_buttons svg {
    height: 1.75rem !important;
    width: auto !important;
    margin: -3rem 0 0 0 !important;
    padding: 0 !important;
}

.add_buttons span {
    display: block;
    margin: -1.1rem 0 0 0 !important;
}
